@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
}
:root{
    --body-color: #090910;
    --navbar-color: #18191A;
    --hover-color: #3A3B3C;
    --text-color: #FFF;
}